*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    min-height: 13vh;
    background-color: #434b4d00;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-color: #9e00b3;
    

}

#nav1{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    min-height: 10vh;
    background-color: #434b4d00;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

body{
    background-size: 100%;
     image-resolution: 100%;
     background-color: #080703;
     background-repeat: no-repeat;
     background-attachment: fixed;
}
#A{
    transition: 0.3s;
}
#A:hover{

    font-size: 18px;
    background-color: rgb(102, 100, 202);
    border-radius: 12%;
    box-shadow: 10 px, 20 px,rgb(36, 161, 120);
    padding: 8px;
     
}

#S{
    transition: 0.3s;
}
#S:hover{
    font-size: 18px;
    background-color: rgb(102, 100, 202);
    border-radius: 12%;
    box-shadow: 10 px, 20 px,rgb(36, 161, 120);
    padding: 8px;
}


#H{
    transition: 0.3s;
}
#H:hover{
    font-size: 18px;
    background-color: rgb(102, 100, 202);
    border-radius: 12%;
    box-shadow: 10 px, 20 px,rgb(36, 161, 120);
    padding: 8px;
}


/* this is for the img gif*/ 
.logo{
    color:ghostwhite;
    letter-spacing: 5px;
    font-size: 20px;

  
}
#mete{size:10%}

.homepage{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding: 20px;
    
}

.homepage li{
    list-style: none;
    
}

.homepage a{
    color:ghostwhite;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}

p{
    color: rgb(190, 41, 128);

    font-family:'dongle', sans-serif
}

#slider{
width:75%;
margin-top:20% ;

}
#slider1{
    width:75%;
    margin-top:20% ;
    
    }
    

#ranger{

appearance: none;
width: 70%;
height: 20px;
outline: none;
background:linear-gradient(90deg, rgb(255, 1, 255) 50%, rgb(238, 150, 250) 0%);
border-radius: 12px;
}

#ranger::-webkit-slider-thumb{

    appearance: none;
    height: 27px;
    width: 40px;
    background: #fad6ff;
    border-radius: 28%;
    cursor: pointer;
}
#ranger1{

    appearance: none;
    width: 70%;
    height: 20px;
    outline: none;
    background:linear-gradient(90deg, rgb(225, 120, 132) 50%, rgb(225, 173, 173) 0%);
    border-radius: 12px;
    }



#ranger1::-webkit-slider-thumb{

    appearance: none;
    height: 27px;
    width: 40px;
    background: #fad6ff;
    border-radius: 28%;
    cursor: pointer;
}


#Gamefront{
 padding-top: 4%;

}


#Gamefront img{
    width:22%;
    height:74%;
    position: relative;
    left:7%;
    float: left;
}


#Gamefront {
  width:100%
  }
  
  
  #pct {
      width:100%;
      display: inline-block;
      vertical-align: top;
    }
#words{
    width: 60%;
    position: relative;
    left:8%;
    display: inline-block;
      vertical-align: top;
}#descr{
    font-size: 28px;
    color: #aacfff;
}

#deta{
    font-size: 28px;
    color: #83e0f7;
}
b{
    color: #578cfd;
}

#Tl{
    font-size: 70px;
    font-family: 'Jost', sans-serif;
    color:#7cc0cc; 
    justify-self: center;
    position: relative;
    left:27%;
}

 #ttl{
    align-content: center;
}
#ttl{
    background-color: #e208ff1a;
}

#end{
    height: 20%;
    background-color:#6e09a011;
    
}

#end img{
    position:relative;
    left:44%;
}

#Ratngs{

    padding-top: 7%;
    position:relative;
    left:17%
}

#current{
    font-size: 40px;
    position: relative;
    left:28.7%;
}

#current1{
    font-size: 40px;
    position: relative;
    left:26%;
}


#valu{
    font-size:28px;
    position: relative;
    left:29.6%
}
#valu1{
    font-size:28px;
    position: relative;
    left:27.6%
}

#bttn{
    color: #e176f0;
    border:none;
    width: 67px;
    font-size: 27px;
    border-radius: 20px;
    background-color: #9202a5;
    font-family:'Dongle', 'sans-serif' ;
    text-align: center;
    position:relative;
    left: 32.6%;
    cursor:pointer;
}

#bttn1{
    color: #7e3646;
    border:none;
    width: 67px;
    font-size: 27px;
    border-radius: 20px;
    background-color: #ff76d6;
    font-family:'Dongle', 'sans-serif' ;
    text-align: center;
    position:relative;
    left: 32.6%;
    cursor:pointer;
}


#rate{
    position:relative;
    left:32.4%;
    font-size: 64px;
}

#rate1{
    position:relative;
    left:32.4%;
    font-size: 64px;
}